# dependencies
node_modules/

# next
.next/
out/

# vite
dist/

# vercel
.vercel/

# env
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
.DS_Store
Thumbs.db
